<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Dice Game</title>
</head>
<body>
<header th:replace="~{start::Header}">
    <h1>Some header text</h1>
</header>
<main class="container">
    <h2 class="mt-4 mb-3">Roll the Dice</h2>
    <div class="d-flex flex-wrap gap-2">
        <img th:each="value: ${rollData.values}"
             th:src="@{|images/dice/side_${value}.png|}"
             th:alt="'side ' + ${value}">
    </div>
    <div class="mt-4">
        <span class="total_label">Total:</span>
        <span th:text="${rollData.total}" class="total_number">6</span>
    </div>
    <form action="dice.html" th:action="@{roll-dice}">
        <div class="row align-items-baseline mb-3 mt-4">
            <div class="col-auto">
                <label for="c" class="form-label">Number of Dice:</label>
            </div>
            <div class="col-auto">
                <select id="c" th:name="numberOfDice" class="form-select">
                    <option th:each="i : ${#numbers.sequence(1, 5)}"
                            th:selected="${i == rollData.numberOfDice}"
                            th:value="${i}" th:text="${i}">1</option>
                </select>
            </div>
        </div>
        <div class="row align-items-baseline mb-3 gap-2 ms-4">
            <button type="submit" class="btn btn-primary my-3 w-auto">Roll Dice<i class="bi bi-check-lg ms-1"></i></button>
            <a th:href="@{reset}" class="btn btn-outline-warning ms-2 w-auto">Reset<i class="bi bi-x-lg ms-1"></i></a>
        </div>
    </form>
</main>
<footer th:replace="~{start::footer}">
    Some footer text
</footer>
</body>
</html>
